<div style='clear:both'></div>
<%= form_for(@camera_place) do |f| %>
  <% if @camera_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camera_place.errors.count, "error") %> prohibited this camera_place from being saved:</h2>

      <ul>
      <% @camera_place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :场所名称 %>
    <%= f.text_field :place %>
    <%= f.number_field :status, :value=>1, :style=>'display:none' %>
  </div>
  <div class="actions">
    <%= f.submit :创建, :class=>"btn btn-primary" %>
  </div>
<% end %>
