<div class="pull-left">
  <h3>我的监控</h3>
</div>
<div class="pull-right">
  <h1><%= link_to '新建场所', new_camera_place_path, :class=>'btn btn-primary' %></h1>
</div>

<table class="table">
  <thead>
  <tr>
    <th>地点</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

<% @camera_places.each do |camera_place| %>
  <tr>
    <td><%= camera_place.place %></td>
    <td>
      <%= link_to '监控', add_place_moniter_path(camera_place.id), :class => 'btn' %>
      <%= link_to '查看图片', show_by_place_path(camera_place.id), :class => 'btn' %>
    </td>
    <!--
    <td><%= camera_place.status %></td>
    <td><%= link_to 'Show', camera_place %></td>
    <td><%= link_to 'Edit', edit_camera_place_path(camera_place) %></td>
    <td><%= link_to 'Destroy', camera_place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    -->
  </tr>
<% end %>
</table>
