<div class="pull-left">
  <h1>Listing images</h1>
</div>
<div class="pull-right">
  <h1><%= link_to '新增图片', new_image_path, :class=>"btn btn-primary start" %></h1>
</div>

<table class='table table-hover'>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>File</th>
    <th>File size</th>
    <th>Width</th>
    <th>Height</th>
    <th>Format</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image.user_id %></td>
    <td><%= image.title %></td>
    <td><%= image_tag("/images/display/"+image.file_id+"!thumb") %></td>
    <td><%= image.file_size %></td>
    <td><%= image.width %></td>
    <td><%= image.height %></td>
    <td><%= image.format %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<div class="apple_pagination">
  <%= will_paginate @images, :previous_label => '<< 上一页', :next_label => '下一页 >>' %>
</div>
