<p id="notice"><%= notice %></p>

<p>
<%= link_to '返回', images_path, :class=>"btn btn-primary" %>
</p>

<p>
  <%= image_tag(display_image_path(@image.file_id), :class=>'img-polaroid') %>
</p>

<p>
  <b>文件大小:</b>
  <%= file_size(@image.file_size) %>
</p>

<p>
  <b>宽度:</b>
  <%= @image.width %>
</p>

<p>
  <b>高度:</b>
  <%= @image.height %>
</p>

<p>
  <b>文件格式:</b>
  <%= @image.format %>
</p>


