<!DOCTYPE html>
<html>
<head>
  <title>BlubluConnect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">
    <%= render "layouts/menu" %>
    <div class="container" style='margin: 0 auto;'>
      <%= yield %>
    </div>
  <div id="push"></div>
</div>
<%= render "layouts/footer" %>
</body>
</html>
